{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage":              "",
    "FUNCTIONS_WORKER_RUNTIME":         "python",
    "FUNCTIONS_EXTENSION_VERSION":      "~4",

    "AAD_TENANT_ID":                    "<your-tenant-uuid>",
    "AAD_AUDIENCE":                     "<your-function-app-client-id>",
    "AAD_CLIENT_ID":                    "@Microsoft.KeyVault(SecretUri=https://chememan-kv.vault.azure.net/secrets/aad-client-id/)",
    "AAD_CLIENT_SECRET":                "@Microsoft.KeyVault(SecretUri=https://chememan-kv.vault.azure.net/secrets/aad-client-secret/)",

    "FABRIC_WORKSPACE":                 "<workspace-name>",
    "FABRIC_LAKEHOUSE":                 "<lakehouse-name>"
  },
  "Host": {
    "LocalHttpPort": 7071,
    "CORS":          "https://web.chememan.com",
    "CORSCredentials": true
  }
}
